/*=====  GOOGLE FONTS  ======*/
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

/*=====  VARIABLES  ======*/
:root {
  // COLORS
  --clr-primary: #db887b;
  --clr-primary-dark: #c5685a;
  --clr-grey-900: #111827;
  --clr-grey-500: #6b7280;
  --clr-grey-400: #9ca3af;
  --clr-grey-200: #e5e7eb;

  --box-shadow-md: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  //   SPACING
  --sp-xs: 0.25rem;
  --sp-sm: 0.5rem;
  --sp-md: 1rem;
  --sp-lg: 1.5rem; /* 24px */
  --sp-xl: 2rem; /* 32px */
  --sp-2xl: 3rem;
  --sp-3xl: 4rem;

  --nav-bar-height: 55px;
  --border-radius: 5px;

  //   TYPOGRAPHY
  --font-family-great: "Great Vibes", cursive;
  --font-family: "Roboto", sans-serif;
  --fs-xxl: 4rem;
  --fs-xl: 2rem; /* 32px */
  --fs-lg: 1.5rem; /* 24px */
  --fs-md: 1.125rem; /* 18px */
  --fs-sm: 1rem; /* 16px */
  --fs-xs: 0.875rem; /* 14px */
  --fw-reg: 400;
  --fw-md: 500;
  --fw-bold: 700;
}

/*=====  BASE / RESET  ======*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--clr-grey-900);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-size: var(--fs-sm);
  font-weight: var(--fw-reg);
  font-family: var(--font-family);
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 250px;

  &:focus {
    border-color: var(--clr-primary);
    outline: 0;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--clr-primary);
  }
}

input {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
  border: 1px solid var(--clr-grey-400);
  border-radius: var(--border-radius);
  width: 250px;

  &:focus {
    border-color: var(--clr-primary);
    outline: 0;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--clr-primary);
  }
}

body {
  margin: var(--nav-bar-height) 0 0 0;
  font-family: var(--font-family);
  font-size: var(--fs-sm);
  font-weight: var(--fw-reg);
  color: var(--clr-grey-500);
}

/*=====  COMPONENTS  ======*/
.container {
  padding: 0 var(--sp-md);
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}

.btn {
  border: 1px solid var(--clr-grey-500);
  background-color: transparent;
  padding: 0.55rem 2rem;
  border-radius: var(--border-radius);

  &--primary {
    border: none;
    background-color: var(--clr-primary);
    color: white;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--clr-primary-dark);
    }
  }
}

a.read-more {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  color: var(--clr-primary);

  transition: all 0.3s ease;

  &:hover {
    color: var(--clr-grey-500);
  }
}

a.icon-btn {
  display: inline-block;
  background-color: var(--clr-primary);
  color: white;
  font-size: 24px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--clr-primary-dark);
  }
}

.tag {
  padding: 0.2rem 0.5rem;
  background-color: var(--clr-grey-400);
  border-radius: var(--border-radius);
  font-size: var(--fs-xs);
  text-transform: uppercase;
  letter-spacing: 1px;

  &--primary {
    background-color: var(--clr-primary);
  }

  a {
    color: white;
  }
}

.widget {
  margin-bottom: var(--sp-xl);

  h3.title {
    background-color: var(--clr-primary);
    color: white;
    font-size: var(--fs-sm);
    font-weight: var(--fw-md);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: var(--sp-sm);
    border-radius: var(--border-radius);
    text-align: center;
    margin-bottom: var(--sp-lg);
  }

  &__body {
    padding: 0 var(--sp-sm);
  }
}

.seperator {
  background-color: var(--clr-grey-500);
  height: 1px;
  margin: var(--sp-md);
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 1rem;

  &.show {
    display: block;
  }
}

/*=====  LAYOUT  ======*/
.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: var(--sp-lg);

  @media screen and (min-width: 1024px) {
    grid-template-columns: 9fr 3fr;
  }
}

.blogs-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--sp-lg);
  row-gap: var(--sp-2xl);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*=====  HEADER  ======*/

.header {
  &__top {
    background-color: var(--clr-primary);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .nav {
    height: var(--nav-bar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu {
      background-color: white;
      box-shadow: var(--box-shadow-md);
      position: fixed;
      top: 0;
      left: -100%;
      width: 80vw;
      height: 100vh;
      padding: var(--sp-lg);
      transition: all 0.5s ease-in-out;

      @media screen and (min-width: 768px) {
        display: block;
        position: static;
        background-color: transparent;
        box-shadow: none;
        color: white;
        width: 100%;
        height: auto;
        padding: 0;
      }
    }

    .show-menu {
      left: 0;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: var(--sp-lg);

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }
    }

    &__link {
      color: var(--clr-grey-900);
      font-weight: var(--fw-md);
      font-size: var(--fs-md);
      transition: all 0.3s;

      @media screen and (min-width: 768px) {
        color: white;

        &:hover {
          color: var(--clr-grey-900);
        }
      }
    }

    &__close {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: var(--fs-xl);

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &__icons {
      display: flex;
      gap: var(--sp-sm);

      i {
        color: white;
      }
    }

    .active-link {
      border-bottom: 2px solid var(--clr-grey-900);

      @media screen and (min-width: 768px) {
        border-bottom: 2px solid white;
      }
    }

    &__toggle {
      display: block;
      color: white;
      font-weight: var(--fw-md);
      font-size: var(--fs-lg);

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &__bottom {
    padding: var(--sp-2xl) 0;
    text-align: center;
  }

  &__title {
    font-size: var(--fs-xxl);
    font-family: var(--font-family-great);
    text-transform: capitalize;
    color: var(--clr-grey-900);

    margin-bottom: var(--sp-xs);
  }

  &__subtitle {
    color: var(--clr-grey-900);
    text-transform: uppercase;
    font-size: var(--fs-lg);
    font-weight: var(--fw-reg);
  }
}

/*=====  HERO SLIDER  ======*/
.hero {
  margin-bottom: var(--sp-2xl);

  .swiper-container {
    width: 100%;
    height: 100%;

    .swiper-button-next,
    .swiper-button-prev {
      background-color: white;
      color: var(--clr-grey-900);
      height: 40px;
      width: 40px;
      opacity: 0.7;

      &::after {
        font-size: var(--fs-md);
        font-weight: bold;
      }
    }

    .swiper-slide {
      width: 100%;

      .slider-item {
        position: relative;

        &__img {
          display: block;
          object-fit: cover;
          width: 100%;
          height: 300px;

          @media screen and (min-width: 768px) {
            height: 400px;
          }
        }
        &__overlay {
          position: absolute;
          height: 200px;
          right: 0;
          left: 0;
          bottom: 0;
          background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.6) 20%,
            transparent
          );
        }
        &__content {
          padding: var(--sp-xs) var(--sp-2xl);
          position: absolute;
          left: 0;
          right: 0;
          bottom: var(--sp-lg);
          text-align: center;

          h2.title {
            font-size: var(--fs-lg);
            font-weight: var(--fw-md);
            margin-bottom: var(--sp-sm);
            color: white;
            transition: all 0.3s ease;

            &:hover {
              color: var(--clr-primary);
            }
          }

          .meta {
            font-style: italic;
            color: white;
          }
        }
      }
    }
  }
}

/*=====  JOIN US  ======*/
.join-us {
  margin-bottom: var(--sp-2xl);
  background-color: var(--clr-grey-200);
  border-radius: var(--border-radius);
  padding: var(--sp-xl);
  text-align: center;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    text-align: left;
  }

  &__title {
    font-size: var(--fs-xl);
    font-weight: var(--fw-md);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: var(--sp-xs);
  }

  &__subtitle {
    margin-bottom: var(--sp-lg);

    @media screen and (min-width: 1024px) {
      margin-bottom: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: var(--sp-sm);

    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }
}

/*=====  BLOG ITEMS  ======*/
.blog-item {
  .image-wrapper {
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow-md);

    &:hover {
      .blog-item__image {
        transform: scale(1.05);
      }
    }
  }

  &__image {
    display: block;
    transition: all 0.5s ease-in-out;
  }

  .tag {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .categories {
    margin-top: var(--sp-lg);
    display: flex;
    gap: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: var(--fs-xs);

    li:not(:last-child)::after {
      content: "/";
      margin-left: 4px;

      color: var(--clr-primary);
    }

    a {
      color: var(--clr-primary);
      transition: all 0.3s ease;

      &:hover {
        color: var(--clr-grey-500);
      }
    }
  }

  .title {
    margin-top: var(--sp-sm);
    font-size: var(--fs-lg);

    a {
      color: var(--clr-grey-900);
      transition: all 0.3s ease;

      &:hover {
        color: var(--clr-primary);
      }
    }
  }

  .meta {
    margin-top: var(--sp-sm);
    font-style: italic;
    font-size: var(--fs-xs);
    color: var(--clr-grey-500);
  }

  .excerpt {
    margin: var(--sp-md) 0;
  }
}

/*=====  PAGINATION  ======*/
.pagination {
  margin-top: var(--sp-2xl);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sp-sm);

  &__item {
    background-color: var(--clr-primary);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    border-radius: 50%;

    transition: all 0.3s ease;

    &:hover {
      background-color: var(--clr-primary-dark);
    }

    &.current {
      background-color: var(--clr-grey-500);
    }
  }
}

/*=====  SIDEBAR  ======*/
.sidebar {
  position: sticky;
  top: calc(var(--nav-bar-height) + 1rem);
}

/*=====  WIDGET: PROFILE  ======*/
.widget-profile {
  text-align: center;

  .profile-photo {
    display: block;
    border-radius: 50%;
    max-width: 260px;
    max-height: 260px;
    margin: 0 auto;
    border: 1px solid var(--clr-grey-400);
    box-shadow: var(--box-shadow-md);
    margin-bottom: var(--sp-md);
  }

  .signature {
    display: block;
    max-width: 150px;
    margin: var(--sp-md) auto 0 auto;
  }
}

/*=====  WIDGET: SOCIAL  ======*/
.widget-social {
  text-align: center;

  .text {
    margin-bottom: var(--sp-md);
  }

  .icon-btn:not(:last-child) {
    margin-right: var(--sp-sm);
  }
}

/*=====  WIDGET: SEARCH  ======*/
.widget-search {
  form.search {
    display: grid;
    grid-template-columns: 1fr 40px;
    border: 1px solid var(--clr-grey-400);
    border-radius: var(--border-radius);
  }

  input {
    border: none;
  }

  button[type="submit"] {
    width: 40px;
    background-color: var(--clr-primary);
    color: white;
    border: none;
  }
}

/*=====  WIDGET: CATEGORIES  ======*/
.widget-categories {
  ul.categories {
    font-size: var(--fs-md);
    text-transform: capitalize;
    letter-spacing: 1px;

    li {
      a {
        color: var(--clr-grey-900);
        transition: all 0.3s ease;

        &:hover {
          color: var(--clr-primary);
        }
      }

      &::before {
        content: "•";
        margin-right: 8px;
        color: var(--clr-primary);
      }
    }
  }
}

/*=====  WIDGET: RECENT POSTS  ======*/
.widget-recent-posts {
  .post-item {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: var(--sp-sm);

    &:not(:last-child) {
      margin-bottom: var(--sp-md);
    }

    &__image {
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow-md);
    }

    &__title {
      margin-bottom: var(--sp-xs);

      a {
        color: var(--clr-grey-900);
        transition: all 0.3s ease;

        &:hover {
          color: var(--clr-primary);
        }
      }
    }

    &__meta {
      font-size: var(--fs-xs);
      font-style: italic;
    }
  }
}

/*=====  WIDGET: TAGS  ======*/
.widget-tags {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--sp-sm);
  }
}

/*=====  FOOTER  ======*/
.footer {
  margin-top: var(--sp-2xl);
  padding: var(--sp-lg) 0;
  background-color: var(--clr-grey-200);

  &__menu {
    display: flex;
    flex-direction: column;
    gap: var(--sp-sm);

    text-transform: capitalize;
    letter-spacing: 1px;
    font-style: var(--fs-md);
    font-weight: var(--fw-md);

    a {
      color: var(--clr-grey-900);
      transition: all 0.3s ease;

      &:hover {
        color: var(--clr-primary);
      }
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      gap: var(--sp-lg);
    }
  }

  .copyright {
    display: block;
    text-align: center;
    font-size: var(--fs-xs);
  }
}
